body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
input{
    margin-bottom: 20px;
}
h2{
    text-align: center;
}